
.box{
    display: flex;
    justify-content: space-between;
    align-items:cente;
    background-image:url(./images/banner/banner_1768053144684.jpeg);
    margin:0px auto;
}
.box img{
    padding-left:50px;
}
.texts{
    text-align:right;
    padding-right:140px;
    margin-top: 70px;
}
.texts p {
    color:#474747;
    margin-bottom: 20px;
}
.text button{
    color:#eeeeee;
    background-color: rgb(237, 103, 54);
    border: none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 70px;
}
.main-contaneir{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
/* i couldn`t set background of color */
.contaneir{
    margin-left: 100px;
    background: none;
    border: none;
}
.texts-2{
    margin: 150px 0px 10px 10px;
    margin-right: 120px;
}
.text-2,h2{
    font-size:2.0em;
}
.texts-2 p{
    color:#474747;
    
}
