
.box{
    display: flex;
    justify-content: space-between;
    align-items:cente;
    background-image:url(./images/banner/banner_1768053144684.jpeg);
   padding: 50px;
}
.box img{
    padding-left:50px;
}
.texts{
    text-align:right;
    padding-right:140px;
    margin-top: 70px;
}
.texts p {
    color:#474747;
    margin-bottom: 20px;
}
.text button{
    color:#eeeeee;
    background-color: rgb(237, 103, 54);
    border: none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 70px;
}
.text button:hover{
    color:rgb(237, 103, 54);
    background-color: #eeeeee;
}
.main-contaneir{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
/* i couldn`t set background of color */
.contaneir{
    margin-left: 100px;
    background: none;
    border: none;
}
.texts-2{
    margin: 150px 0px 10px 10px;
    margin-right: 120px;
}
.text-2,h2{
    font-size:2.0em;
}
.texts-2 p{
    color:#474747;
    
}
.contaneir-2 .box{
    justify-content: center;
    display:flex ;
background: none;
margin-top: 70px;
margin-bottom: 30px;
}
.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    margin: 0px 80px;
}
.contaneir-2{
    line-height: 5px;
    text-align: center;
}
.contaneir-2 p{
color:#474747
}
.img{
    background-image: url(./images/gradient2.png),url(./images/watch.png);
    background-repeat: no-repeat;
    height: 200px;
    margin:60px 70px 0px 80px;
    color:#eeeeee;
    padding:30px 0 0 50px;
    border-radius: 10px;
}
button{
    color:orangered;
    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size:15px;
    font-weight: bolder;
}
button:hover{
    color:#eeeeee;
    background-color:orangered;
}
.one{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 50px;
}
.three{
    color:#eeeeee;
    padding:50px 0px 0px 60px ;
}
.four{
    color:#eeeeee;
    font-size: 12px;
    padding-left: 60px;
}
.five{
   padding-left: 60px;
   padding-bottom: 70px;
}
#six{
    color:#eeeeee;
    margin-right: 100px;
     display:flex; 
    flex-direction: column;
   align-items:start;
   padding-top: 50px;
   background-color: none;
}
input{
    background: none;
    border:1px solid #eeeeee;
    margin-bottom: 10px;
}